@import '../../styles/mixins';

.headphones {
  @include size(100%, auto);

  &__title {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    margin: 0 0 20px 0;
    color: #838383;
    @include textStyle(20px, 600, 24px, 5vw, 8.5vw);
  }

  &__list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    grid-auto-rows: 407px;
    gap: 30px;
  }

  @media (min-width: 1161px) {
    &__title {
      text-align: left;
    }
  }

  @media (min-width: 640px) and (max-width: 1160px) {
    &__title {
      font-size: 16px;
      line-height: 20px;
    }

    &__list {
      grid-template-columns: repeat(2, minmax(290px, 320px));
      grid-auto-rows: 370px;
      gap: 20px;
    }
  }

  @media (min-width: 320px) and (max-width: 639px) {
    &__list {
      grid-template-columns: minmax(290px, 320px);
      grid-auto-rows: 350px;
    }

    &__title {
      font-size: 16px;
      line-height: 20px;
    }
  }

  @media (max-width: 319px) {
    &__list {
      grid-template-columns: 100%;
      grid-auto-rows: 110vw;
      gap: 10vw;
    }

    &__title {
      margin-bottom: 5vw;
    }
  }
}
