@import '../../styles/mixins';

.cart-total {
  box-sizing: border-box;
  min-width: 348px;
  height: 114px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  overflow-y: visible;
  position: relative;

  &__wrapper {
    height: 100%;
    @include centeredFlex();
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 21px 21px 0 16px;
  }

  &__text {
    white-space: nowrap;
    @include textStyle(15px, 600, 18px, 4vw, 5vw);
  }

  &__link {
    text-decoration: none;
    bottom: -5px;
    position: absolute;
    width: 100%;
    background-color: #101010;
    color: #fff;
    border-radius: 20px;
    white-space: nowrap;
    @include centeredFlex();
    @include textStyle(17px, 600, 21px, 4vw, 5vw);
  }

  @media (min-width: 640px) and (max-width: 1160px) {
    & {
      min-width: 240px;
    }

    &__text,
    &__link {
      font-size: 13px;
      line-height: 16px;
    }
  }

  @media (min-width: 320px) {
    &__link {
      min-height: 65px;
    }
  }

  @media (min-width: 320px) and (max-width: 639px) {
    & {
      min-width: initial;
      width: 85%;
      max-width: 300px;
    }

    &__text,
    &__link {
      font-size: 13px;
      line-height: 16px;
    }
  }

  @media (max-width: 319px) {
    & {
      min-width: 85%;
      height: 33vw;
      border-radius: 10vw;
    }

    &__info {
      margin: 6vw 7vw 0;
    }

    &__link {
      bottom: -4vw;
      height: 21vw;
      border-radius: 8vw;
    }
  }
}
