@import '../../styles/mixins';

.cart {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    @include textStyle(20px, 600, 24px, 6vw, 7vw);

    @media (min-width: 320px) and (max-width: 1160px) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (max-width: 639px) {
      text-align: center;
    }
  }

  &__body {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    gap: 1vw;

    @media (min-width: 320px) and (max-width: 639px) {
      flex-direction: column;
      gap: 25px;
      align-items: center;
    }

    @media (max-width: 319px) {
      margin-top: 5vw;
      flex-direction: column;
      gap: 15vw;
      align-items: center;
    }
  }

  &__products {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (min-width: 640px) and (max-width: 1160px) {
      gap: 20px;
    }

    @media (min-width: 320px) and (max-width: 639px) {
      order: 2;
      width: 100%;
      align-items: center;
    }

    @media (max-width: 319px) {
      width: 100%;
      order: 2;
      gap: 5vw;
    }
  }
}
