.product {
  box-sizing: border-box;
  padding: 10px 22px 26px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    max-width: 220px;
    max-height: 240px;
    height: auto;
    object-fit: contain;
    margin: auto 0;
  }

  &__info {
    margin-top: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto 90px;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    column-gap: 25px;
    min-height: 68px;
  }

  &__name,
  &__price,
  &__old-price,
  &__rating,
  &__button {
    font-family: 'Montserrat', sans-serif;
  }

  &__name {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    margin: 0;
    max-width: 100%;
  }

  &__price-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__price-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #ffa542;
    max-width: 85px;
    text-align: center;
  }

  &__old-price {
    text-decoration: line-through;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #ffce7f;
    max-width: 70px;
    text-align: center;
  }

  &__rating {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #838383;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__rating:before {
    margin-right: 10px;
    width: 23px;
    height: 35px;
    content: '';
    background: url('../../images/starIcon.svg') no-repeat center 35%;
  }

  &__button {
    width: min-content;
    justify-self: end;
    outline: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #000;
  }

  @media (min-width: 320px) and (max-width: 1160px) {
    & {
      padding: 12px 18px;
    }

    &__name,
    &__price,
    &__rating,
    &__button {
      font-size: 15px;
      line-height: 18px;
    }

    &__old-price {
      font-size: 12px;
      line-height: 15px;
    }

    &__rating:before {
      margin-right: 6px;
      background-position-y: 42%;
    }
  }

  @media (max-width: 319px) {
    & {
      padding: 3vw 4vw;
      border-radius: 9vw;
    }

    &__image {
      max-width: 60vw;
      max-height: 65vw;
    }

    &__info {
      grid-template-columns: 2fr 1fr;
      column-gap: 2vw;
      min-height: 15vw;
    }

    &__name,
    &__price,
    &__rating,
    &__button {
      font-size: 5vw;
      line-height: 5.5vw;
    }

    &__price,
    &__old-price {
      overflow: hidden;
    }

    &__old-price {
      font-size: 4.5vw;
      line-height: 5vw;
    }

    &__rating:before {
      margin-right: 3vw;
      width: 8vw;
      height: 9vw;
      background-size: contain;
    }
  }
}
