@import '../../styles/mixins';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 60px;
  overflow-x: hidden;

  &__title {
    margin: auto 0;
    @include textStyle(25px, 700, 30px, 6vw, 6.5vw);
  }

  &__menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    margin: auto 10px;
    padding: 0;
  }

  &__button {
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: #000;
  }

  &__counter {
    position: absolute;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #ffa542;
    border-radius: 50%;
    bottom: 16px;
    left: 16px;
    @include textStyle(15px, 500, 18px, 5vw, 6.3vw);
    @include size(18px, 18px, 6vw, 6vw);
  }

  &__icon {
    @include size(24px, 24px, 8vw, 8vw);
  }

  @media (min-width: 320px) and (max-width: 1160px) {
    &__title {
      font-size: 22px;
      line-height: 28px;
    }

    &__menu {
      gap: 40px;
    }
  }

  @media (max-width: 319px) {
    & {
      min-height: 20vw;
    }

    &__menu {
      gap: 10vw;
      margin: auto 5vw;
    }

    &__counter {
      bottom: 6vw;
      left: 6vw;
      overflow: hidden;
    }
  }
}
