@import '../../styles/mixins';

.error {
  min-height: 90vh;
  gap: 20px;
  padding: 20px 0;
  @include centeredColumnFlex();
  justify-content: center;

  &__title {
    margin: 0;
    white-space: nowrap;
    @include textStyle(32px, 700, 40px, 8vw, 10vw);
  }

  &__subtitle {
    margin: 0 0 20px;
    white-space: nowrap;
    @include textStyle(17px, 500, 26px, 4vw, 6vw);
  }

  &__link {
    background-color: transparent;
    outline: 0;
    border: 0;
    padding: 0;
    color: #aaa;
    white-space: nowrap;
    @include textStyle(21px, 600, 30px, 6vw, 8vw);
  }
}

@media (max-width: 319px) {
  .error {
    gap: 5vw;

    &__subtitle {
      margin: 0 0 5vw;
    }
  }
}
